<mat-card-header>
  <!-- Card Product -->
  <mat-card-title>
    <a [routerLink]="['/product/product-post', post.id]">
      {{ post.titlePost }}
    </a>
  </mat-card-title>
</mat-card-header>

<mat-card>
  <a [routerLink]="['/product/product-post', post.id]">
    <img mat-card-image class="efect-image-post" [src]="post.imagePost" alt="Image Post" />
  </a>
  <mat-card-content>
    <p>
      {{ post.contentPost }}
    </p>
    <mat-card-subtitle>
      <a [routerLink]="['/product/product-post', post.id]">
        Ver más...
      </a>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions>
    <div *ngFor="let tag of post.tagsPost" [ngClass]="tag">
      #{{ tag | uppercase}}</div>
  </mat-card-actions>

</mat-card>
