<section class="login-register-container">
  <mat-card class="login-register-card">

    <mat-card-header>
      <mat-card-title>INICIAR SESION</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <mat-form-field appearance="fill">
            <mat-label>Ingresa tu Email</mat-label>
            <input matInput placeholder="Ejemplo@ejemplo.com" type="email" formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ingresa tu Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="content-button-main">
          <button mat-raised-button class="button-main" type="submit">INICIAR SESION</button>
        </div>
      </form>

      <!-- <mat-divider></mat-divider>
      <p class="login-register-p">
        Iniciar Sesión con tu cuenta Google
      </p>
      <mat-divider></mat-divider>
      <div class="content-button-main">
        <button class="button-main" mat-button (click)="onGoogleLogin()">
          <img src="assets/logo/google-icon.svg" width="30" height="30" alt="Google Logo" loading="lazy" />
          Google
        </button>
      </div>

      <p class="login-register-p">
        Crea tu cuenta
        <a [routerLink]="['/register']"> Registro</a>
      </p>
      <p class="login-register-p">
        <a [routerLink]="['/forgot-password']">Olvidaste tu contraseña</a>
      </p> -->
    </mat-card-content>


  </mat-card>

</section>
