<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>
    <span></span>
  </a>

  <a mat-list-item (click)="onSidenavClose()" [routerLink]="['home']">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>


  <a mat-list-item (click)="onSidenavClose()" [routerLink]="['product/home-product']">
    <mat-icon>store</mat-icon>
    <span>Productos</span>
  </a>


  <div class="user-info" *ngIf="user$ | async as user; else login">
    <a mat-list-item (click)="onSidenavClose()">
      <img class="imageProfileNavbar" [src]="user.photoURL" width="25" height="25" alt="" loading="lazy" />
      <span>{{ user?.email }}</span>
    </a>

    <a mat-list-item (click)="onSidenavClose()" *ngIf="user" (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
    </a>

  </div>

  <ng-template #login>
    <!--   <a mat-list-item (click)="onSidenavClose()" [routerLink]="['register']">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Register</span>
    </a> -->

    <a mat-list-item (click)="onSidenavClose()" [routerLink]="['login']">
      <mat-icon>login</mat-icon>
      <span>Iniciar Sesión</span>
    </a>
  </ng-template>
