<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
  <mat-card class="card-hidden">
    <button mat-fab color="disabled">
      <mat-icon>pedal_bike</mat-icon>
    </button>
    <mat-card-subtitle>
      Envíos gratis en Flores
    </mat-card-subtitle>
  </mat-card>

  <mat-card>
    <button mat-fab color="disabled">
      <mat-icon>two_wheeler</mat-icon>
    </button>
    <mat-card-subtitle>
      Envíos a sólo $250 en CABA
    </mat-card-subtitle>
  </mat-card>

  <mat-card class="card-hidden">
    <button mat-fab color="disabled">
      <mat-icon>local_shipping</mat-icon>
    </button>
    <mat-card-subtitle>
      Envíos a partir de $400 en GBA
    </mat-card-subtitle>
  </mat-card>
</div>


