.carousel-slide-content .carousel-slide-overlay .ng-star-inserted .carousel-slide {
  border: 3px solid red;
  height: 80vh !important;
}

mat-carousel {
  height: 80vh !important;
}

mat-carousel-slide {
  border: 3px solid red;
}
