<mat-carousel timings="250ms ease-in" [interval]="3000" [autoplay]="true" maxWidth="auto" [loop]="true" [maintainAspectRatio]="true"
  [proportion]="25" [slides]="5" [color]="'disabled'" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
  [useMouseWheel]="false" orientation="ltr">
  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    overlayColor="#00000040" [hideOverlay]="false">
  </mat-carousel-slide>
</mat-carousel>

<!--
   Settings https://www.npmjs.com/package/ng-mat-carousel

-->
