/* Normalize */

@import '~normalize.css';
/*General*/

:root {
  --color-one: #000;
  --color-two: rgb(42, 46, 6);
  --color-three: rgb(185, 192, 193);
  --color-four: rgb(236, 234, 227);
  --color-five: rgb(164, 213, 218);
  --color-six: rgb(94, 152, 159);
  --color-seven: #DEF7F3;
  --color-eight: #ffffff;
}

/* Index */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-one);
  margin: 0;
  padding: 0;
  /* Slow Transition between anchor */
  scroll-behavior: smooth;
}

/** app.component */

/* Header */

header {
  min-height: 13vh;
  background-color: var(--color-one);
  padding: 0.25rem;
}

header button {
  color: var(--color-eight)!important;
}

main {
  min-height: 80vh;
  background-color: var(--color-seven);
  margin: 0;
  padding: 0;
}

/* Footer */

footer {
  min-height: 10vh;
}

footer .mat-toolbar {
  font-size: 1rem;
}

/* Links */

a {
  text-decoration: none;
}

/*Buttons*/

.content-button-main {
  width: 100%;
  text-align: center;
}

.button-main {
  color: var(--color-one)!important;
  background-color: var(--color-seven)!important;
  margin: 0.5rem;
}

.button-main:hover {
  background-color: var(--color-six)!important;
}

.content-close-button {
  text-align: right;
}

/*Headers*/

/* AUTH */

/* LOGIN */

.login-register-container {
  height: 100%;
}

/* For Login Register Forgot-Password */

.login-register-card {
  max-width: 35em;
  margin: 1em auto;
}

form {
  margin: 1rem;
}

form mat-form-field, Mat-form-field {
  width: 100%;
}

.login-register-p {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

/* WRAP CONTAINER */

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-content {
  width: 19em;
  margin: 0.5em;
}

/*BLOG*/

/*PRODUCTS*/

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.efect-image-post {
  transform: scale(1, 1);
  transition: all 0.5s ease-out;

}
.efect-image-post:hover {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem var(--color-seven);
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem var(--color-seven);
  transform: scale(0.9, 0.9);
  transition: all 0.5s ease-out;
}

/*TOOLBAR*/

/* Toolbar Spacer */

.tool-bar-space {
  flex: 1 1 auto;
}

mat-chip .mat-chip.mat-primary.mat-standart-chip {
  min-height: 1em;
  padding: 0.1em;
}

/* Main toolbar Background-color */

.mat-toolbar {
  background: var(--color-four);
  color: var(--color-eight);
}

/* My Styles */

/* Helpers to Delete */

.borderb {
  border: 1px solid black;
}

.borderw {
  border: 1px solid white;
}

.color {
  width: 45px;
  height: 45px;
}

.one {
  background-color: var(--color-one);
}

.two {
  background-color: var(--color-two);
}

.three {
  background-color: var(--color-three);
}

.four {
  background-color: var(--color-four);
}

.five {
  background-color: var(--color-five);
}

.six {
  background-color: var(--color-six);
}

.seven {
  background-color: var(--color-seven);
}

.eight {
  background-color: var(--color-eight);
}

/* Responsive site Media Querys  */

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}
