.product-card {
  max-width: 70vw;
  margin: 1rem auto;

  mat-card-content {
    display: flex;
    .flex-item-img {
      width: 30%;
      margin: 0.3rem;
      border-radius: 5px;
    }
    .flex-item {
      width: 70%;
      margin: 0.5rem;
      text-align: justify;
      font-size: 1rem;
      mat-chip-list {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

mat-tab-group {
  min-height: 15rem;
  mat-tab {
    margin: 1.5rem;
    div {
      display: flex;
    }
  }
}

@media (max-width: 600px) {
  .product-card {
    max-width: 85vw;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    .flex-item-img {
      width: 95% !important;
      margin: 0 auto;
    }
    img {
      width: 100%;
      margin: 0.1rem;
      border-radius: 5px;
    }
    p {
      width: 95%;
      margin: 0.5rem;
      text-align: justify;
      margin-bottom: 0.5rem !important;
      font-size: 1rem;
    }
  }
}
